@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

a {
  color: #000;
}

.blog a {
  color: blue;
  font-weight: 300;
}

.center {
  text-align: center;
}

/* navbar */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e7e7e7;
  z-index: 2;
}

nav .container {
  width: 88%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* copy for over laptop size
  justify-content: center;
  width: 94%; */
  align-items: center;
}

@media (min-width: 1441px) {
  nav .container {
    justify-content: center;
    width: 94%;
  }
}

nav .container ul {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  gap: 20%;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav .container {
    flex-wrap: wrap;
  }

  nav .container ul {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
  }

  nav .container ul.show {
    display: flex;
  }

  nav .container li {
    padding: 1rem 0;
  }
}

/* homepage */
.hero {
  position: relative;
  margin-top: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  color: white;
  background: url('assets/images/bridge.jpeg') no-repeat center center/cover;
}

.hero * {
  z-index: 1;
}

.hero::after {
  position: absolute;
  inset: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%å;
}

.hero a {
  margin: 2vh 0 0;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.hero a:hover {
  text-decoration: underline;
  transform: translateY(-2px);
}

/* about */
.grid-4 {
  margin: 5vh auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.grid-2 .info {
  width: 100%;
  padding: 1rem;
}

.grid-2 .info img {
  width: 100%;
  margin-bottom: 2vh;
}

.grid-2 .info h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.plan {
  padding: 7rem 0;
}

.plan .numbered {
  list-style-type: lower-roman;
}

.plan .numbered li {
  margin: 2rem 0;
}

.plan .numbered li p {
  margin-top: 2vh;
}

/* blogs */
.blogs,
.grid-2 {
  width: 94%;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.blogs > .blog {
  padding: 1rem;
  border-radius: 12px;
}

.blogs > .blog > img {
  width: 100%;
}

.blogs > .blog * {
  margin: 2vh auto;
  font-family: 'Inter', sans-serif;
}

.blogs > .blog a {
  text-decoration: none;
}
.blogs > .blog a:visited {
  color: blue;
}

@media (max-width: 768px) {
  .grid-2,
  .blogs {
    grid-template-columns: 1fr;
  }

  .details {
    grid-row: 1;
  }
}

/* contact */
.form {
  text-align: initial;
}

.form h2 {
  margin: 2vh 0;
}
.input-control,
.form h4,
.form h2 {
  width: 90%;
  margin: 3vh auto;
}

.input-control input,
.input-control textarea {
  display: block;
  padding: 8px;
  width: 70%;
  margin-top: 1vh;
}

.input-control input[type='submit'] {
  color: white;
  background: black;
  padding: 0.75rem;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-control input[type='submit']:hover {
  color: #000;
  background: white;
  border-color: black;
}

.details ol li {
  margin: 2rem 0;
}
